body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    background-color: cyan;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 750px;
    height: 750px;
    background-color: lightcoral;
    border-radius: 10px;
    gap: 25px;
    box-shadow: 3px 3px darkcyan;
}

.title {
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    color: yellow;
    text-shadow: 2px 2px darkorange;
    
}

#sketch-pad {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    background-color: white;
    
    box-shadow: 2px 2px grey;

}

.gridbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px0;
    
}

.credit {
    display: block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif; ;
    margin-top: 60px;
    color: blueviolet;
    font-size: large;
}

.reset  {
    width: 100px;
    height: 35px;
    background-color: rgb(113, 215, 113);
    
    font-family: 'Roboto', sans-serif; ;
    border-radius: 4px;
    font-size: 15px;
    color: white;
}