body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: cyan;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 750px;
    height: 750px;
    background-color: lightcoral;
    border-radius: 10px;
    gap: 25px;
    box-shadow: 3px 3px darkcyan;
    border: 1px solid black;
    margin-top: 50px;
}

.title {
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    color: yellow;
    text-shadow: 2px 2px darkorange;
    
}

#sketch-pad {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    background-color: white; 
    box-shadow: 2px 2px grey;
    border: 1px solid black;
}

.gridbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px0;
    
}

.credit-panel {
    margin-top: 20px;
    display: flex;
    gap: 5px;
    
    justify-self: center;
}

.logo {
    width: 20px;
    height: 20px;   
}

.credit {
    display: block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif; ;
    color: rgb(244, 0, 0);
    font-size: large;
}

.button-panel {
    display: flex;
    gap: 10px;
}

.button  {
    width: 70px;
    height: 28px;
    background-color: rgb(113, 215, 113);   
    font-family: 'Roboto', sans-serif; ;
    border-radius: 4px;
    font-size: 15px;
    color: white;
    box-shadow: 3px 3px grey;
}